@import url("https://use.typekit.net/lxz5etz.css");

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #0e7c4e;
}

* {
  box-sizing: border-box;
}

.main {
  flex: 1;
}

.body-text {
  font-family: campaign, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.headline-text {
  font-family: campaign, sans-serif;
  font-weight: 600;
  font-style: normal;
}

